.stApp {
    background-color: #0e1117;
    color: #FFFFFF
}

.spacer {
    height:100px;
}

.section-gap {
    margin-top: 200px;
    margin-bottom: 100px;
}

.stMarkdown h1.brand-title {
    text-align: center;
    color: #00D4FF;
    letter-spacing: 2px;
}

.stMarkdown h3.hero-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFFFFF;
}

.stMarkdown p.intro-text {
    text-align: center;
    font-size: 1.3rem;
    color: #8b949e;
}

.stMarkdown h2.how-it-works {
    text-align: center;
    margin-top: 40px;
}

.step-node {
    border: 3px solid #00D4FF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background: #161b22;
    margin: auto;
    z-index: 2;
    margin-top: 70px;
}

.connector {
    text-align: center;
    font-size: 50px;
    color: #00D4FF;
    width: 120%;
    margin-left: -10%;
    margin-top: 70px;
    animation: pulse 2s infinite;
}

.internal-text {
    text-align: center;
}

@keyframes pulse {
    0% {opacity: 0.5; transform: scale(1);}
    50% {opacity: 1; transform: scale(1.1);}
    100% {opacity: 0.5; transform: scale(1);}
}