.stApp {
    background-color: #0e1117;
    color: #FFFFFF
}

/* Spacing*/
.spacer {
    height:100px;
}

/* .section-gap {
    margin-top: 100px;
    margin-bottom: 50px;
} */

.brand-title {
    text-align: center;
    color: #00D4FF;
    letter-spacing: 2px;
}