.stApp {
    background-color: #0e1117;
    color: #FFFFFF
}

.spacer {
    height:100px;
}

.section-gap {
    margin-top: 200px;
    margin-bottom: 100px;
}

.stMarkdown h1.brand-title {
    text-align: center;
    color: #00D4FF;
    letter-spacing: 2px;
}

.stMarkdown h3.hero-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFFFFF;
}

.stMarkdown p.intro-text {
    text-align: center;
    font-size: 1.3rem;
    color: #8b949e;
}

.stMarkdown h2.how-it-works {
    text-align: center;
    margin-top: 40px;
}

.step-node {
    border: 3px solid #00D4FF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background: #161b22;
    margin: auto;
    z-index: 2;
    margin-top: 70px;
}

.connector {
    text-align: center;
    font-size: 50px;
    color: #00D4FF;
    width: 120%;
    margin-left: -10%;
    margin-top: 70px;
    animation: pulse 2s infinite;
}

.internal-text {
    text-align: center;
}

@keyframes pulse {
    0% {opacity: 0.5; transform: scale(1);}
    50% {opacity: 1; transform: scale(1.1);}
    100% {opacity: 0.5; transform: scale(1);}
}

div.stButton > button:first-child {
    display: block;
    margin: 0 auto;
    border-radius: 50% !important;
    width: 160px !important;
    height: 160px !important;
    background-color: #00D4FF !important;
    color: #000 !important;
    font-weight: bold !important;
    font-size: 22px !important;
    border: 4px solid #FFFFFF !important;
    box-shadow: 0 0 25px rgba(0, 212, 255, 0.5);
    transition: 0.4s;
}

div.stButton > button:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: #FFFFFF !important;
}

div.stDownloadButton > button {
    background-color: #00D4FF !important;
    color: #000000 !important;
    padding: 15px 30px !important;
    border-radius: 50px !important;
    font-weight: bold !important;
    font-size: 18px !important;
    text-align: center !important;
    display: block !important;
    margin: 20px auto !important;
    border: 3px solid #FFFFFF !important;
    box-shadow: 0 0 20px rgba(0, 212, 255, 0.5) !important;
    transition: 0.3s all ease-in-out !important;
}

div.stDownloadButton > button:hover {
    background-color: #FFFFFF !important;
    color: #00D4FF !important;
    transform: scale(1.05) rotate(2deg) !important;
}

.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.step-container p {
    margin: 6px 0;
}